  .container{
    &.general-container{
      padding-top: 70px;
      padding-bottom: 75px;
    }
  }

  .container-fluid{
    max-width: 1340px;
  }

  .superior-dropdown-container{
    padding: 10px 0;
  }

  @include media-breakpoint-up(lg){
    .adds-underline{
        border-bottom: 1px #ccc solid;
      }
  }
