  .news-products-col{
    + .news-products-col{
      margin-top: 20px;
    }
  }

  .card-body-product-carousel{
    text-align: center;

    .trending-options{
      .contains-product-cols{
        display: flex;
        justify-content: center;

          .product-col{
            width: 30px;
            height: 30px;
            cursor: pointer;

          + .product-col{
            margin-left: 10px;
          }

          .contains-product-option{
            width: 100%;
            height: 100%;
            position: relative;
            background-color: #1cbbb6;
            transition: 300ms;

            &:hover{
              background-color: #ffb558;

              svg{
                fill:black;
              }
            }

            svg{
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              fill: white;
              transition: 300ms;
            }
          }
        }

        .big-cart-icon{
          display: none;
          background-color: #1cbbb6;
          color: white;
          padding: 0 5px;
          transition: 500ms;
          cursor: pointer;
          min-width: 150px;
          text-transform: uppercase;

          &:hover{
            background-color: #ffb558;
            color: black
          }

          svg + *{
            margin-left: 3px;
          }
        }
      }
    }
  }
  

  .newsletter-card{
    .newsletter-container{
      background-color: #56d5d0;
      padding: 10px 5px;
      max-width: 375px;
      margin: 0 auto;

    .newsletter-titles{
      text-align: center;

    .newsletter-title{
      text-transform: uppercase;
      font-size: 25px;
    }

    hr{
      width: 50%;
      margin: 10px auto 0;
      border: none;
      height: 3px;
      opacity: 1;
      background-color: black;

      + *{
        margin-top: 20px;
      }
    }

    .newsletter-text{
        font-family: 'Poppins Light';
        color: black;
      }
    }

    .newsletter-image{
      width: 100%;
      height: 450px;

      img{
        object-fit: contain;
      }
    }

    .sign-newsletter{
      margin: 0 auto;

      .subscribe-control{
        background: none;

        &:focus{
          background: none;
          box-shadow: none;
          border-color: rgb(255, 255, 255);
        }
      }

        .btn{
          margin-top: 10px;
          width: 100%;
        }
      }
    }
  }

  @include media-breakpoint-up(md){
    .newsletter-card{
      .newsletter-container{
        .newsletter-titles{
          .newsletter-title{
          }

          .newsletter-text{
          }
        }

        .sign-newsletter{
          width: 80%;

        .subscribe-control{
          &:focus{
          }
        }

        .btn{
          margin-top: 10px;
          width: 100%;
          }
        }
      }
    }

    .double-item-inner{
      .carousel-item{
        .row{
          .col-6{
            .card{
              &.trending-card{
                .card-body-product-carousel{
                  .product-carousel-options{
                    .contains-product-cols{
                      .product-col {
                        opacity: 0;
                        transition: 400ms;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  
    .double-item-inner{
      .carousel-item{
        .row{
          .col-6{
            .card{
              &.trending-card{
                &:hover{
                  .card-body-product-carousel{
                    .product-carousel-options{
                      .contains-product-cols{
                        .product-col {
                          opacity: 1;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-up (lg){
    .news-products-col{
      + .news-products-col{
        margin-top: 0;
      }
    }

    .newsletter-card{
      .newsletter-container{
        .newsletter-titles{
          .newsletter-title{
          }
          
          .newsletter-text{
          }
        }

        .sign-newsletter{
          width: 90%;

          .subscribe-control{
            &:focus{
            }
          }

          .btn{
          }
        }
      }
    }
  }
